/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: zoompronormalmedium;
  src: url(/Fonts/ZoomPro-NormalMedium.otf);
}

/* NAV Section */
.header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
}

.header_img {
  height: 100%;
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

nav {
  min-height: 10vh;
  width: calc(100% - 2em);
  margin: auto;
  display: flex;
  bottom: 0;
  position: absolute;
  z-index: 2;
  justify-content: space-around;
  font-family: zoompronormalmedium;
  font-size: 3rem;
}

.nav_links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.nav_links li {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 1rem 1rem 1rem 1rem;
}

.nav_links a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.logo {
  z-index: 2;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 90%;
  position: absolute;
  display: flex;
  margin: auto;
}

/* Products Section */

.products-container {
  min-height: 120vh;
  max-width: 100%;
  grid-gap: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.products-image img {
  height: 110vh;
  min-width: 80vh;
  object-fit: cover;
  padding: 1rem;
}

.products-image {
  place-self: center;
  order: 1;
}

.products-text {
  place-self: center;
  padding: 2em;
  order: 2;
}

.products-text h2 {
  margin: 1rem;
  font-size: 2.5rem;
}

.products-text h3 {
  margin: 1rem;
  font-size: 2rem;
}

.products-text p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.5;
}

.products-text {
  place-self: center;
  padding: 2em;
  order: 2;
  margin: 5rem 10rem 5rem 10rem;
  flex: 1 1 25rem;
}

.products-text h2 {
  margin: 1rem;
  font-size: 2.5rem;
}

.products-text h3 {
  margin: 1rem;
  font-size: 2rem;
}

.products-text p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.5;
}

.products-text h2 {
  margin: 1rem;
  font-size: 2.5rem;
}

.products-text h3 {
  margin: 1rem;
  font-size: 2rem;
}

.products-text p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.5;
}

/* About Section */

.intro-about {
  min-height: 100vh;
  position: relative;
}

.intro-about img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}

.about-container {
  min-height: 120vh;
  max-width: 100%;
  grid-gap: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  position: relative;
}

.about-image img {
  height: 100%;
  width: 100%;
}

.about-image {
  order: 1;
  padding: 1rem;
  place-self: center;
}

.about-text {
  order: 0;
  padding: 4em;
  place-self: center;
}

.about-text h2 {
  margin: 1rem;
  font-size: 2.5rem;
}

.about-text h3 {
  margin: 1rem;
  font-size: 2rem;
}

.about-text p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.5;
}

/* Team Section */

.team-dreiz {
  max-width: 100%;
  margin: auto;
  min-height: 80vh;
  background-color: #c5d1dd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.team-id img {
  height: 50vh;
  width: 35vh;
  object-fit: cover;
  object-position: center;
}

.team-photo {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  height: 60vh;
  text-align: center;
}

.team-photo h4 {
  color: black;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.team-photo p {
  color: black;
  font-size: 1.2rem;
}

/* Contact Section */
.contact-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#contact img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-position: 0% 35%;
  object-fit: cover;
}

.contact-information {
  z-index: 2;
  color: white;
  font-size: 2rem;
  width: 40%;
}

.contact-information p {
  margin: 2rem;
  font-size: 2rem;
}

.contact-information h5 {
  margin: 2rem;
  font-size: 3rem;
}

/* Footer Section */

.footer {
  height: 10vh;
  display: flex;
  position: relative;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Media Query */
@media screen and (max-width: 932px) {
  html {
    font-size: 80%;
  }
}
