/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: zoompronormalmedium;
  src: url(/Fonts/ZoomPro-NormalMedium.otf);
}

@font-face {
  font-family: zoompronormalregular;
  src: url(/Fonts/ZoomPro-NormalRegular.otf);
}

@font-face {
  font-family: zoompronormalligth;
  src: url(/Fonts/ZoomPro-NormalLight.otf);
}

@font-face {
  font-family: zoomprocompactregualr;
  src: url(/Fonts/ZoomPro-CompactRegular.otf);
}

@font-face {
  font-family: zoomprocompactlight;
  src: url(/Fonts/ZoomPro-CompactLight.otf);
}


body {
  font-size: 16px;
}

/* NAV Section */
header {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(Photos/dreiz_02.jpg);
  background-position: 0% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.nav {
  min-height: 10vh;
  width: 100%;
  display: flex;
  position: absolute;
  top: 85%;
}

.nav_links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav_links li {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 1em 0.5em 1em 0.5em;
}

.nav_links a {
  color: white;
  text-decoration: none;
  font-family: zoompronormalmedium;
  font-size: clamp(0.6rem, 4vw, 2rem);
  z-index: 3;
}

.logo {
  z-index: 2;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 90%;
  position: absolute;
  display: flex;
  margin: auto;
}

/* Products Section */

.products-container {
  min-height: 100vh;
  max-width: 100%;
  grid-gap: 1em;
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  place-items: center;
  margin-right: 2em;
  margin-left: 2em;
}

.products-image img {
  max-height: 90vh;
  width: 100%;
  padding: 1em;
}

.products-image {
  order: 1;
  place-self: center;
}

.products-text {
  place-self: center;
  order: 2;
  padding: 1em;
  text-align: start;
  width: 50vw;
}

.products-text h2 {
  font-size: clamp(1.9rem, 12vw, 4rem);
  font-family: zoompronormalregular;
}

.products-text h3 {
  padding-bottom: 1em;
  font-size: clamp(1rem, 4vw, 1.3rem);
  font-family: zoomprocompactregular;
}

.products-text p {
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-family: zoomprocompactlight;
  line-height: 1.5rem;
}

/* About Section */

.intro-about {
  min-height: 100vh;
  position: relative;
  max-width: 100%;
  background-image: url(Photos/dreiz_01\ Kopie.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  min-height: 100vh;
  max-width: 100%;
  grid-gap: 1em;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  place-items: center;
  margin-right: 2em;
  margin-left: 2em;
}

.about-image img {
  height: auto;
  width: 100%;
  padding: 1em;
}

.about-image {
  order: 1;
  place-items: center;
}

.about-text {
  order: 0;
  padding: 1em;
  width: 50vw;
  text-align: start;
}

.about-text h2 {
  font-size: clamp(1.8rem, 12vw, 4rem);
  font-family: zoompronormalregular;
}

.about-text h3 {
  padding-bottom: 1em;
  font-size: clamp(1rem, 4vw, 1.3rem);
  font-family: zoomprocompactregular;
}

.about-text p {
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-family: zoomprocompactlight;
  line-height: 1.5;
}

/* Team Section */

.team-dreiz {
  max-width: 100%;
  min-height: 80vh;
  padding: 2em;
  padding-bottom: 0.5em;
  background-color: #c5d1dd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.team-id {
  display: flex;
  justify-content: center;
}

.team-id img {
  height: 50vh;
  width: 35vh;
  object-fit: cover;
  object-position: center;
}

.team-photo {
  margin: 1em;
  height: 60vh;
  text-align: center;
}

.team-photo h4 {
  color: black;
  font-size: clamp(1.0rem, 4vw, 1.6rem);
  font-family: zoompronormalregular;
}

.team-photo p {
  color: black;
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-family: zoompronormallight;
}

/* Contact Section */
.contact-container {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;
  background-image: url(Photos/dreiz_03.2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-information {
  z-index: 2;
  color: white;
  text-align: justify;
}

.contact-information p {
  line-height: 1.2em;
  font-size: clamp(0.9rem, 3vw, 1.5rem);
  font-family: zoompronormalligth;
  padding-bottom: 0.5em;
}

.contact-information h5 {
  padding-bottom: 0.5em;
  line-height: 2em;
  font-size: clamp(1.2rem, 8vw, 3rem);
  font-family: zoompronormalmedium;
}

/* Footer Section */

.footer {
  min-height: 5vh;
  background-color: white;
  color: black;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: zoompronormalligth;
  font-size: clamp(0.7rem, 2.5vw, 1rem);
  flex-wrap: wrap;
}

.codingsbums {
  order: 3;
  text-align: center;
  flex: 1 1 1;
  margin: 0.5em;
}

.impressum {
  order: 2;
  text-align: center;
  flex: 1 1 1;
  margin: 0.5em;
}

.all-rights {
  order: 1;
  text-align: center;
  flex: 1 1 1;
  margin: 0.5em;
}

/* Media Query */

@media only screen 
   and (max-width : 1200px) {
    header { 
      background-position: 100% 10%;
    }
    .nav {
      top: 85%;
    }
}

@media only screen 
   and (max-width : 800px) {
  header { 
    background-position: 100% 10%;
  }
  .nav {
    top: 0%;
  }
  .products-container {
    grid-template-columns: auto;
  }
  .products-text {
    width: auto;
  }
  .about-container {
    grid-template-columns: auto;
  }
  .about-text {
    width: auto;
  }
  .contact-container {
    padding-right: 1em;
  }
  }

@media only screen 
   and (max-width : 300px) {
    header { 
      background-position: 100% 10%;
    }
    .nav {
      top: 0%;
    }
    .products-container {
      margin-left: 0em;
      margin-right: 0em;
    }
    .about-container {
      margin-left: 0em;
      margin-right: 0em;
    }
    .contact-container {
      justify-content: center;
      padding-right: 0em;
    } 
    .contact-information {
      text-align: center;
    }
}

@media only screen 
   and (max-width : 200px) {
    header { 
      background-position: 100% 10%;
    }
    .nav {
      top: 0%;
    }
}
